body {
  font-family: "Milonga", serif;
  margin: 0;
  background: #f5f5f5;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.barra-superior input[type="text"] {
  width: 50%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 1rem;
}

* {
  margin: 0.5;
  padding: 0;
  box-sizing: border-box;
}


.card-pasta {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 250px;
  height: auto;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.card-pasta h3 {
  margin-top: 10px;
  font-family: 'Milonga', cursive;
  font-size: 1.2em;
  text-align: center;
}

.barra-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #f8f8f8;
}

.barra-superior input {
  width: 50%;
  padding: 0.5rem;
}

.icones {
  display: flex;
  gap: 1rem;
}

.perfil-usuario {
  text-align: center;
  background: #ffffff;
  padding: 2rem 0;
}

.foto-perfil {
  width: 100px;
  height: 100px;
  background: #bbb;
  border-radius: 50%;
  margin: 0 auto 1rem;
}

.titulo-pastas {
  text-align: center;
  background: #f8f8f8;
  padding: 0.5rem;
  font-weight: bold;
}

.grid-pastas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.preview-receitas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  padding: 0.5rem;
}

.preview-receitas img {
  width: 100%;
  height: 60px;
  object-fit: cover;
}

.nome-pasta {
  background: #ffffff;
  text-align: center;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.foto-perfil {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Centraliza */
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nome-usuario {
  text-align: center;
  font-family: 'Milonga', cursive;
  margin-top: 10px;
}


